.header {
    width: 100%;
    /* height: 70px; */
    /* background-color: #344e41; */
    opacity: 0.8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header h1 {
    font-size: 42px;
    letter-spacing: 5px;
    color: #dad7cd;
}